.inventoryPageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.leftColumn {
  margin: 20px;
}

.addItemSection, .categoryCreation {
  margin-bottom: 20px;
}

.inventoryDisplay {
  margin: 20px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
